## Bài 5.1

In [1]:
import sqlite3

db_path = "bai51.db"

conn = sqlite3.connect(db_path)
cur = conn.cursor()

cur.execute("select sqlite_version();")
version = cur.fetchone()[0]
print("SQLite version:", version)

conn.close()

SQLite version: 3.45.3

## Bài 5.2

In [2]:
import sqlite3

conn = sqlite3.connect(":memory:")
cur = conn.cursor()

cur.execute("select sqlite_version();")
print("SQLite version (memory):", cur.fetchone()[0])

conn.close()

SQLite version (memory): 3.45.3

## Bài 5.3

In [3]:
import sqlite3

db_path = "bai53.db"

conn = sqlite3.connect(db_path)
cur = conn.cursor()

cur.execute("""
create table if not exists students (
    id integer primary key autoincrement,
    name text not null,
    age integer,
    major text
);
""")

conn.commit()
print("Created database and table students.")

conn.close()

Created database and table students.

## Bài 5.4

In [4]:
import sqlite3

db_path = "bai53.db"

conn = sqlite3.connect(db_path)
cur = conn.cursor()

cur.execute("select name from sqlite_master where type='table' order by name;")
tables = cur.fetchall()

print("Tables:")
for t in tables:
    print("-", t[0])

conn.close()

Tables:
- sqlite_sequence
- students

## Bài 5.5

In [5]:
import sqlite3

db_path = "bai55.db"

conn = sqlite3.connect(db_path)
cur = conn.cursor()

cur.execute("""
create table if not exists products (
    id integer primary key autoincrement,
    name text not null,
    price real not null,
    quantity integer not null
);
""")

products = [
    ("Pen", 1.5, 100),
    ("Notebook", 2.0, 60),
    ("Eraser", 0.5, 200),
]

cur.executemany("insert into products (name, price, quantity) values (?, ?, ?);", products)
conn.commit()

cur.execute("select id, name, price, quantity from products;")
rows = cur.fetchall()

print("All records in products:")
for r in rows:
    print(r)

conn.close()

All records in products:
(1, 'Pen', 1.5, 100)
(2, 'Notebook', 2.0, 60)
(3, 'Eraser', 0.5, 200)

## Bài 5.6

In [6]:
import sqlite3

db_path = "bai55.db"

conn = sqlite3.connect(db_path)
cur = conn.cursor()

cur.execute("""
create table if not exists products (
    id integer primary key autoincrement,
    name text not null,
    price real not null,
    quantity integer not null
);
""")

products = [
    ("Pen", 1.5, 100),
    ("Notebook", 2.0, 60),
    ("Eraser", 0.5, 200),
]

cur.executemany("insert into products (name, price, quantity) values (?, ?, ?);", products)
conn.commit()

cur.execute("select id, name, price, quantity from products;")
rows = cur.fetchall()

print("All records in products:")
for r in rows:
    print(r)

conn.close()

All records in products:
(1, 'Pen', 1.5, 100)
(2, 'Notebook', 2.0, 60)
(3, 'Eraser', 0.5, 200)
(4, 'Pen', 1.5, 100)
(5, 'Notebook', 2.0, 60)
(6, 'Eraser', 0.5, 200)

## Bài 5.7

In [7]:
import sqlite3

db_path = "bai55.db"

conn = sqlite3.connect(db_path)
cur = conn.cursor()

cur.execute("update products set price = price * 1.10;")
conn.commit()

cur.execute("select id, name, price, quantity from products;")
rows = cur.fetchall()

print("After updating price:")
for r in rows:
    print(r)

conn.close()

After updating price:
(1, 'Pen', 1.6500000000000001, 100)
(2, 'Notebook', 2.2, 60)
(3, 'Eraser', 0.55, 200)
(4, 'Pen', 1.6500000000000001, 100)
(5, 'Notebook', 2.2, 60)
(6, 'Eraser', 0.55, 200)

## Bài 5.8

In [8]:
import sqlite3

db_path = "bai55.db"

conn = sqlite3.connect(db_path)
cur = conn.cursor()

delete_id = 2
cur.execute("delete from products where id = ?;", (delete_id,))
conn.commit()

cur.execute("select id, name, price, quantity from products;")
rows = cur.fetchall()

print("After deleting id =", delete_id)
for r in rows:
    print(r)

conn.close()

After deleting id = 2
(1, 'Pen', 1.6500000000000001, 100)
(3, 'Eraser', 0.55, 200)
(4, 'Pen', 1.6500000000000001, 100)
(5, 'Notebook', 2.2, 60)
(6, 'Eraser', 0.55, 200)

## Bài 5.9

In [ ]:
## Tọa file region.csv
import pandas as pd

du_lieu = {
    "REGION_ID": [1, 2, 3, 4],
    "REGION_NAME": ["Europe", "Americas", "Asia", "Middle East and Africa"]
}

bang_region = pd.DataFrame(du_lieu)
bang_region.to_csv("region.csv", index=False)

print("Đã tạo file region.csv")

Đã tạo file region.csv

In [10]:
# đọc và hiển thị dữ liệu

bang_region = pd.read_csv("region.csv")
print(bang_region)

   REGION_ID             REGION_NAME
0          1                  Europe
1          2                Americas
2          3                    Asia
3          4  Middle East and Africa

## Bài 5.10

In [11]:
## Tạo CSDL và bảng
import sqlite3

ket_noi = sqlite3.connect("product.db")
con_tro = ket_noi.cursor()

con_tro.execute("""
create table if not exists product (
    id integer primary key,
    name text not null,
    price real not null,
    amount integer not null
);
""")

ket_noi.commit()
ket_noi.close()

print("Đã tạo CSDL product.db và bảng product")

Đã tạo CSDL product.db và bảng product

In [12]:
# Thêm sản phẩm
import sqlite3

ket_noi = sqlite3.connect("product.db")
con_tro = ket_noi.cursor()

san_pham = [
    (1, "Bút bi", 5000, 100),
    (2, "Vở", 12000, 50),
    (3, "Thước", 8000, 30)
]

con_tro.executemany(
    "insert into product (id, name, price, amount) values (?, ?, ?, ?)",
    san_pham
)

ket_noi.commit()
ket_noi.close()

print("Đã thêm sản phẩm")

Đã thêm sản phẩm

In [13]:
# hiển thị
import sqlite3

ket_noi = sqlite3.connect("product.db")
con_tro = ket_noi.cursor()

con_tro.execute("select * from product")
du_lieu = con_tro.fetchall()

for dong in du_lieu:
    print(dong)

ket_noi.close()

(1, 'Bút bi', 5000.0, 100)
(2, 'Vở', 12000.0, 50)
(3, 'Thước', 8000.0, 30)

In [14]:
# Tìm kiếm sản phẩm
import sqlite3

ten_can_tim = "Vở"

ket_noi = sqlite3.connect("product.db")
con_tro = ket_noi.cursor()

con_tro.execute(
    "select * from product where name like ?",
    ("%" + ten_can_tim + "%",)
)

ket_qua = con_tro.fetchall()

for dong in ket_qua:
    print(dong)

ket_noi.close()

(2, 'Vở', 12000.0, 50)

In [15]:
# cập nhật
import sqlite3

id_san_pham = 2
gia_moi = 15000
so_luong_moi = 70

ket_noi = sqlite3.connect("product.db")
con_tro = ket_noi.cursor()

con_tro.execute(
    "update product set price = ?, amount = ? where id = ?",
    (gia_moi, so_luong_moi, id_san_pham)
)

ket_noi.commit()
ket_noi.close()

print("Đã cập nhật sản phẩm")

Đã cập nhật sản phẩm

In [16]:
# Xóa sản phẩm

import sqlite3

id_can_xoa = 3

ket_noi = sqlite3.connect("product.db")
con_tro = ket_noi.cursor()

con_tro.execute("delete from product where id = ?", (id_can_xoa,))
ket_noi.commit()

ket_noi.close()
print("Đã xóa sản phẩm")

Đã xóa sản phẩm

## Bài 5.11

In [17]:
import sqlite3

ket_noi = sqlite3.connect("ql_nhan_vien.db")
con_tro = ket_noi.cursor()

con_tro.execute("""
create table if not exists PHONG (
    id integer primary key,
    name text not null
);
""")

ket_noi.commit()
ket_noi.close()

print("Đã tạo bảng PHONG")

Đã tạo bảng PHONG

In [18]:
# Thêm phòng
import sqlite3

ket_noi = sqlite3.connect("ql_nhan_vien.db")
con_tro = ket_noi.cursor()

phong_ban = [
    (1, "Hành chính"),
    (2, "Kế toán"),
    (3, "Kỹ thuật")
]

con_tro.executemany(
    "insert into PHONG (id, name) values (?, ?)",
    phong_ban
)

ket_noi.commit()
ket_noi.close()

print("Đã thêm phòng ban")

Đã thêm phòng ban

In [19]:
# Tạo bảng vn
import sqlite3

ket_noi = sqlite3.connect("ql_nhan_vien.db")
con_tro = ket_noi.cursor()

con_tro.execute("""
create table if not exists NHAN_VIEN (
    id integer primary key,
    ho_ten text not null,
    id_phong integer,
    foreign key (id_phong) references PHONG(id)
);
""")

ket_noi.commit()
ket_noi.close()

print("Đã tạo bảng NHAN_VIEN")

Đã tạo bảng NHAN_VIEN